footer.container.bg-success.col-md-12
    h2(class="text-center")  Kontakta oss         
    ui(class="list-unstyled")
        li
            img(class="pl-3" alt="teleIcon" src="bilder/baseline-call-24px.svg")    
            | 
            span(class="pr-3") 090-695 58 61
        li 
            img(class="pl-3" alt="emailIcon" src="bilder/baseline-mail-24px.svg")
            | 
            span(class="pr-3") kgunillak@gmail.com
        li 
            img(class="pl-3" alt="locationIrand" src="bilder/baseline-location_on-24px.svg")  
            span(class="pr-3") Brogatan  5  Umeå
 
            
            