footer.container.bg-success
    h1 Kontakta oss         
    ui(class="list-unstyled")
        li
            img(class="justify-content-center" alt="teleIcon" src="bilder/baseline-call-24px.svg")    
            | 090-695 58 61
        li 
            img(alt="emailIcon" src="bilder/baseline-mail-24px.svg")
            | kgunillak@gmail.com
        li 
            img(alt="locationIrand" src="bilder/baseline-location_on-24px.svg") 
            | Brogatan  5  Umeå
 
            
            