extends layout

block content 
    h1 hej din jävel  
    p lider väldigt mycket
    

    //TODO 
    //Navbar med loga längst till vänster med 3 rubriker
    //text
    //kontaktforumlär 4 rutor och en knapp
    //text med ikoner (google icons)