
nav

    nav(class="navbar navbar-light bg-light")
        div(class="navbar-header")
            img(alt="brand" src="bilder/bildTerapiLogo.Svg")
                a(class="navbar-brand" href="#")   HEM
                a(class="navbar-brand" href="#")   Tjänster
                a(class="navbar-brand" href="#")   Kontakt
    nav


